{{#if addNewQuestion}}
<div class="q-form">
    <!-- <h2>Ask A Question</h2> -->
      <form>
       <div class="form-group">
         <label for="content">* What knowledge do you desire?: </label><br>
         {{input value=content placeholder="ex. What is the meaning of life?"id="content"}}
       </div>

       <div class="form-group">
         <label for="author">* Name: </label><br>
         {{input value=author placeholder="ex. Anonymous" id="author"}}
       </div>

       <div class="form-group">
         <label for="notes">Notes: </label><br>
         {{input value=notes id="notes"}}
       </div>

       <button {{action 'saveQuestion'}}>Seek Answers</button>
     </form>
    </div>
 {{else}}
    <button class="ask-question-btn" {{action 'questionFormShow'}}>Ask A Question</button>
{{/if}}
