<li>
  <h3>{{#link-to 'question' question.id}}{{question.content}}{{/link-to}}</h3>
  <p>Asked by: {{question.author}}</p>
  {{#if isDetailsShowing }}
      <p {{action 'detailsHide'}}>Notes: {{question.notes}} </p>
    {{else}}
      <button {{action 'detailsShow'}}>Show Notes</button>
  {{/if}}

</li>
