<li>
  <p>{{#link-to 'question' question.id}}{{question.content}}{{/link-to}} | </p>
  <p>Asked by: {{question.author}} | </p>
  {{#if isDetailsShowing }}
      <p {{action 'detailsHide'}}>Notes: {{question.notes}} </p>
    {{else}}
      <button {{action 'detailsShow'}}>Show Details</button>
  {{/if}}

</li>
