{{#if updateQuestionForm}}
    <h1>Edit Question</h1>
    <div>
      <form>
       <div class="form-group">
         <label for="content">Content</label>
         {{input value=content id="content" placeholder=question.content}}
       </div>

       <div class="form-group">
         <label for="author">Author</label>
         {{input value=author id="author" placeholder=question.author}}
       </div>

       <div class="form-group">
         <label for="notes">Notes</label>
         {{input value=notes id="notes" placeholder=question.notes}}
       </div>

       <button {{action 'update' question}}>Save</button>
      </form>
    </div>
 {{else}}
    <button {{action 'updateQuestionForm'}}>Edit Question</button>
{{/if}}
